@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hosting and Deployment Module. Deploy your app into IIS, Azure App Service and Docker</p>
</div>
